/* fonts */

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }

/* lora-regular */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lora-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lora-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lora-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lora-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lora-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lora-v16-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-700 */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lora-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lora-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lora-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lora-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lora-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lora-v16-latin-700.svg#Lora') format('svg'); /* Legacy iOS */
}

/* general */
body {
    background-color: #FDFDFD;
    width: 70%;
    margin: auto;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

h1 {
    font-family: "Lora", serif;
    font-size: 56pt;
    font-weight: bold;
    margin: 60pt 0 10pt 0;
}

h2 {
    font-family: "Lora", serif;
    font-size: 36pt;
    font-weight: bold;
    margin: 30px 0 30px 0;
}

h3 {
    font-family: "Lora", serif;
    font-size: 24pt;
    font-weight: bold;
    margin: 25px 0 25px 0;
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
}

h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 18pt;
    font-weight: 700;
}

h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 26pt;
    margin: 10px 0 10px 0;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 20pt;
}

.main-page a, .popcorn a, .about a, footer a {
    text-decoration: none;
    color: #25CFAC;
    font-family: "Lora", serif;
}

a:hover {
    color: #000000;
}

h2, h3, h5, h6, p {
    color: #4F4F4F;
}

h4 {
    color: #828282;
}

h1 {
    color: #333333;
}

/* pageload animation */

/*   Title: jsfiddle source code
*    Author: SO_AMK
*    Date: N/A
*    Code version: #11784
*    Availability: http://jsfiddle.net/SO_AMK/VV2ek/ */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    margin-bottom: 2em;
}

.nav li {
    display: inline-block;
    width: 80px;
}

ul.nav {
    padding: 0;
}

header a {
    font-size: 12pt;
    color: #828282;
    text-decoration: none;
    font-family: "Lora", serif;
}

.logo {
    align-self: center;
}

.active {
    color: #000000;
}

/* homepage */

.row {
    display: flex;
    flex-direction: row;
    margin: 100px 0 100px 0;
}

.project-image {
    flex: 55%;
    text-align: center;
}

.project-text {
    flex: 40%;
    padding: 80px 0 80px 0;
}

.placement {
    flex: 5%;
}

a img:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
}

/* footer */

footer {
    text-align: center;
    padding: 80px;
}

footer p {
    color: #828282;
}

/* individual project page */

section {
    margin: 100px 0 100px 0;
}

.two-column {
    display: flex;
    flex-direction: row;
}

.two-column .column-1 {
    flex: 45%;
}

.two-column .column-2 {
    flex: 45%;
}

.two-column .placement {
    flex: 10%;
}

.text-image {
    margin: 80px 0 80px 0;
}

.big-image {
    text-align: center;
    margin: 60px 0 60px 0;
}

.prototype {
    box-shadow: 0 0 10px gray;
}

strong {
    font-weight: 550;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 60px 0 60px 0;
}

.grid-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
}

.grid-box-image {
    min-height: 250px;
}

/* popcorn page */

.popcorn h1, .popcorn h3, .popcorn h4{
    color: #5271FF;
}

/* unipantry page */

.unipantry h1, .unipantry h3, .unipantry h4{
    color: #0BB8CD;
}

/* responsiveness */

@media screen and (min-width: 375px) and (max-width: 1024px) {
    body {
        width: auto;
        margin: 10px;
    }
    
    .row {
        flex-direction: column;
        margin: 100px 0 100px 0;
    }

    .project-text {
        padding: 0;
    }

    .two-column {
        flex-direction: column;
    }

    .text-first {
        flex-direction: column-reverse;
    }

    .grid {
        flex-direction: column;
    }

    .grid-box {
        margin: 60px 0 60px 0;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .nav li {
        display: inline-block;
        width: 100%;
        font-size: x-large;
        margin: 20px 0 20px 0;
    }

    header a {
        font-size: 24pt;
    }

    footer p {
        font-size: 24pt;
    }

    footer {
        padding: 0;
    }
}